div.about_me {
	background-color: rgba(0,0,0,0.5);
	padding: 8px;
	font-size: 40px;
	border-radius: 10%;
	position: fixed;
	bottom: 4px;
	right: 4px;
}

a.about_me {
	color: rgba(255,255,255,0.5);
}
