@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
	/*background-image: linear-gradient(45deg,#573AC4FF,#981BE3FF);*/
	background-image: url('bg.jpg');
	background-size: cover;
	margin-top: 150px;
	margin-left:40px;
	margin-right:40px;
	padding: 0;
	font-family: 'Merienda';
}


div.top {
	box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
	top: 0;
	left:0;
	right:0;
	position: fixed;
	background-image: linear-gradient(45deg,#000,#5B5B5BFF);
	color: #BBB;
	height: 100px;
	text-align: center;
	font-size: 70px;
}

a.home {
	color: #bbb;
}

a {
	color: #BCE717FF;
}

p {
	color: #1EE68CFF;
}

ol {
	color: #BCE717FF;
}

h2 {
	color: #ED7B39FF;
	text-align: center;
}

h3 {
	color: #ED7B39FF;
}
